@{
    ViewData["Title"] = "Home Page";
}
@model Student
<div class="text-center">
    <form asp-action="Create" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Name">Name :</label>
        <input asp-for="Name" class="form-control" >
                <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Location"> Dojo Location:</label>
        <select asp-for="Location" >
            <option value="">-------</option>
            <option value="san jose">San Jose</option>
            <option value="california">California</option>
            <option value="new york">New York</option>
        </select>
                <span asp-validation-for="Location" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="FavoriteLanguage"> Favorite Language:</label>
        <select asp-for="FavoriteLanguage" id="">
            <option value="">-------</option>
            <option value="c#">C#</option>
            <option value="mern">Mern</option>
            <option value="paython">Paython</option>
        </select>
                <span asp-validation-for="FavoriteLanguage" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Comment">Comment:</label>
        <textarea asp-for="Comment" id="" cols="40" rows="10"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>

    </div>
            <input type="submit" value="Submit" class="submit">

    </form>
</div>
