<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
</head>
<body>
    <h3>Submitted Info:</h3>
    <p> NAME: @ViewBag.name</p>
    <p>LOCATION: @ViewBag.location</p>
    <p>LANGUAGE: @ViewBag.language</p>
    <p>COMMENTS: @ViewBag.comments</p>
    <a href="/">Go Back</a>
</body>
</html>